<h1>About the MLS Championship</h1>
<p>It was founded in 1996 and  the first chanmpions ever was D.C. United. There were only 10 teams in the league at that time and that has grown to 
    29 teams. 26 of the teams located in the United States and 3 of the teams located in Canada.</p>